.tabla-wrapper {
    max-height: 280px;
    overflow-y: auto;        /* SOLO scroll vertical */
    overflow-x: hidden;      /* NO scroll horizontal */
    width: 100%;
}
.tabla-respuestas-wrapper {
  height: 180px; /* Altura fija más pequeña */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    table-layout: fixed;    
}

/* Encabezados */
thead th {
    text-align: center;
    white-space: normal !important;
    word-break: break-word;
    background-color: #f1f1f1;
}

/* Encabezado fijo */
thead {
    position: sticky;
    top: 0;
    z-index: 5;
}

tbody {
    display: table-row-group !important;
}

/* Celdas */
th, td {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;  
    text-align: center;
}

/* Hover */
tbody tr:hover {
    background-color: #f8f8f8;
}

/* Fila seleccionada */
table tr.selected-user,
table tr.selected-row {
    background-color: #e3d6c0 !important;
    border-left: 5px solid #a17a4a;
    cursor: default;
}
